<div class="main">
  <div class="rent_content">
    <%= link_to "サンプル貸出し表", samples_path, method: :get %>
  </div>
  <div class="credo_content">
    <%= link_to "CredoBingo管理表", samples_path, method: :get %>
  </div>
  <div class="customer_content">
    <%= link_to "Dr.管理表", samples_path, method: :get %>
  </div>
</div>