<div class="main">
  <div class="description">
    <p class="about_text">
      関東第5ディストリクト専用のアプリケーションです。
      サンプル貸出表やCredoBingo管理表をアプリケーション化することで誰でも簡単にアクセスしてデータの更新が可能となります。
      また、Dr.管理表を使用することによって各Dr.へのイベント案内など含めた、営業の進捗を一元管理することが可能になります。
      ぜひ利用してみてください！
    </p>
  </div>
  <div class="rent_content">
    <%= link_to "サンプル貸出し表", samples_path, method: :get %>
  </div>
  <div class="credo_content">
    <%= link_to "CredoBingo管理表", samples_path, method: :get %>
  </div>
  <div class="customer_content">
    <%= link_to "Dr.管理表", samples_path, method: :get %>
  </div>
</div>